{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="card">
        <h2>Project: {{ project.name }}</h2>

        <div class="projects-container">
            <div class="project-card">
                <img src="{{ project.project_photo.url }}" alt="Project image" class="project-image">
            </div>
        </div>
        <br>
        <div class="detail-item">
            <span class="label">Location:</span>
            <span class="value">{{ project.location }}</span>
        </div>
        <br>
        <div class="detail-item">
            <span class="label">Project expenses:</span>
            <span class="value">{{ project.expenses }}</span>
        </div>
        <br>
        {% if project.description %}
            <div class="detail-item">
                <span class="label">Project description:</span>
                <div class="value">{{ project.description }}</div>
            </div>
        {% endif %}
        <br>
        {% if request.user == project.user %}
            <div class="actions">
                <a href="{% url 'project-edit' object.user.profile.get_full_name project.slug %}" class="btn">Edit
                    Project</a>
                <a href="{% url 'project-delete' object.user.profile.get_full_name project.slug %}" class="btn">Delete
                    Project</a>
            </div>
        {% endif %}
    </div>
    <br>
    {% if object.photo_set.all %}
        <h2>Project photos:</h2>
        <div class="projects-container">
            {% for photo in object.photo_set.all %}
                <div class="project-card">
                    <a href="{% url 'photo-details' photo.id %}">
                        <img src="{{ photo.photo.url }}" alt="pet img" class="project-image"/>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
