{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div>
        <h2>Project name: {{ project.name }}</h2>

        <div class="projects-container">
            <div class="project-card">
                <img src="{{ project.project_photo.url }}" alt="Project image" class="project-image">
            </div>
        </div>
        <br>
        <div class="data-wrapper">
            <div class="data">
                <div class="data-item">
                    <span class="label">Location:</span>
                    <span class="value">{{ project.location }}</span>
                </div>
                <div class="data-item">
                    <span class="label">Expenses:</span>
                    <span class="value">{{ project.expenses }}</span>
                </div>
                {% if project.description %}
                    <div class="data-item">
                        <span class="label">Project description:</span>
                        <div class="value">{{ project.description }}</div>
                    </div>
                {% endif %}
            </div>
        </div>
        <br>
        {% if request.user == project.user %}
            <div>
                <a href="{% url 'project-edit' project.slug %}" class="btn">Edit
                    Project
                </a>
                <a href="{% url 'project-delete' project.slug %}" class="btn">Delete
                    Project
                </a>
            </div>
        {% endif %}
    </div>
    <br>
    {% if object.pictures.all %}
        <h2>Project photos:</h2>
        <div class="projects-container">
            {% for photo in object.pictures.all %}
                <div class="project--pictures-card">
                    <a href="{% url 'picture-details' photo.id %}">
                        <img src="{{ photo.signed_url }}" alt="project_img" class="project-picture" title="See photo details"/>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
