{% extends 'common/base.html' %}
{% load placeholder_filter %}

{% block content %}
    <div>
        <div>
            <h1>Login</h1>
            <form method="POST">
                {% csrf_token %}

                {{ form.errors }}
                {{ form.username|placeholder:"Email" }}
                {{ form.password|placeholder:"Password" }}

                <button type="submit">Login</button>
            </form>
        </div>
        <div>
            <p>If you don't have an account, please register <a href="{% url 'register' %}">here</a></p>
        </div>
    </div>
{% endblock %}