{% extends 'common/base.html' %}}
{% load static %}

{% block content %}

    <h2>Profile Details</h2>
    <div class="profile-container">
{#        <img src="profile-pic.jpg" alt="Profile Picture" class="profile-pic">#}
        <p><strong>Username:</strong> johndoe</p>
        <p><strong>Email:</strong> johndoe@example.com</p>
        <p><strong>Bio:</strong> A passionate web developer.</p>
        <a href="{% url 'profile-edit' request.user.pk %}"><button>Edit Profile</button></a>
    </div>

{% endblock %}
