{% extends 'common/base.html' %}}
{% load static %}

{% block content %}
    <div>
        <h2>Profile Details</h2>
        <div class="profile-container">
            {% if object.profile.profile_picture %}
                <img src="{{ object.profile.profile_picture.url }}" alt="img8" class="round-profile"/>
            {% else %}
                <img src="{% static 'images/person.png' %}" alt="img8" class="round-profile"/>
            {% endif %}

            <p><strong>Username:</strong> {{ object.profile.get_full_name }}</p>

            {% if request.user.pk == object.pk %}
                <a href="{% url 'profile-edit' request.user.pk %}" class="btn">Edit Profile</a>
                <a href="{% url 'user-delete' request.user.pk %}" class="btn">Delete Profile</a>
            {% endif %}
        </div>
        <br>
        <div class="data-wrapper">
            <div class="data">
                <div class="data-item">
                    <span class="label">Number of Projects:</span>
                    <span class="value">{{ total_projects_count }}</span>
                </div>

                <div class="data-item">
                    <span class="label">Number of Photos:</span>
                    <span class="value">{{ total_photos_count }}</span>
                </div>

                <div class="data-item">
                    <span class="label">Number of likes:</span>
                    <span class="value">{{ total_likes_count }}</span>
                </div>

                <div class="data-item">
                    <span class="label">User Email:</span>
                    <span class="value">{{ object.email }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="projects-container">
        {% for project in object.project_set.all %}
            <div class="project-card">
                <a href="{% url 'project-details' object.profile.get_full_name project.slug %}">
                    <img src="{{ project.project_photo.url }}" alt="Project image" class="project-image"/>
                </a>
            <p class="project-name">{{ project.name }}</p>
            </div>
        {% empty %}
            <img class="no-projects" src="{% static 'images/no_projects.png' %}" alt="no projects image">
        {% endfor %}
    </div>
{% endblock %}
