{% extends 'common/base.html' %}}
{% load static %}
{% load placeholder_filter %}

{% block content %}

    <div class="register-container">
        <h1>Final Project</h1>
        <h2>Register</h2>
        <form action="#" method="POST">
            {% csrf_token %}
            {{ form.email|placeholder:"Email" }}
            {{ form.email.errors }}

            {{ form.password1|placeholder:"Password" }}
            {{ form.password1.errors }}

            {{ form.password2|placeholder:"Repeat Password" }}
            {{ form.password2.errors }}

            <button type="submit">Register</button>
        </form>
    </div>

{% endblock %}