{% load static %}

<nav>
    <a href={% url 'home' %}>Home</a>
    {% if not request.user.is_authenticated %}
        <a href={% url 'login' %}>Login</a>
        <a href={% url 'register' %}>Register your company</a>
        <a href={% url 'companies' %}>See registered companies</a>
    {% else %}
        <a href="{% url 'company-details' request.user.pk %}">
            Company Details
        </a>
        <a href="{% url 'employee-add' %}">
            Add Employee
        </a>
        <a href="{% url 'add-project' %}">
            Add Project
        </a>
        <a href="{% url 'picture-add' %}">
            <i>Add Photo</i>
        </a>
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button>
                <i>Logout</i>
            </button>
        </form>
    {% endif %}
</nav>
