.errorlist {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  color: red;
  font-size: 0.9em;
}

html, body {
    height: 100%;
    margin: 0;
}

.page-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.8rem;
}

.home-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image-container img {
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
}

.pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.step-links-buttons {
    cursor: default;
    display: flex;
    text-shadow: none;
}

.step-links-buttons a,
.span.current {
    font-size: 20px;
    color: white;
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
    background-color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

.step-links-buttons a:hover {
    background-color: #3498db;
}

.step-links-buttons a:first-child,
.step-links-buttons a:last-child {
    margin: 2px;
}

.step-links-buttons a.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.button {
    background-color: white;
    border: none;
    font-size: 22px;
    margin: 2.5px 0px 0px 8px;
    padding: 0;
    cursor: pointer;
}

footer {
    text-align: right;
    padding: 10px 20px;
    background-color: #f8f8f8;
    font-size: 14px;
}



